[Unit]
Description=Reader for BNO055 that writes to NetworkTables
After=multi-user.target

[Service]
type=simple
ExecStart=bash -c 'source /opt/FRC3786/bin/bno/.bno-tables-env/bin/activate && /opt/FRC3786/bin/bno/bno_tables.py'
Restart=on-failure

[Install]
WantedBy=multi-user.target
