[Unit]
Description=Reader for BNO055 that writes to NetworkTables
After=multi-user.target

[Service]
type=simple
ExecStartPre=source /opt/FRC3786/bin/bno/.bno-tables-env/bin/activate
ExecStart=/opt/FRC3786/bin/bno/bno_tables.py
ExecStartPost=deactivate
Restart=on-failure

[Install]
WantedBy=multi-user.target
